.about__wrapper {
  padding-inline: 216px;
  font-size: 1.8rem;
  color: var(--LIGHT-COLOR);
}
.about-container {
  column-gap: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-content: space-between;
}
.about-header {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: var(--MARGIN);
  padding-top: 1em;
  order: 1;
}
.about-main,
.about-footer,
.about-aside {
  margin: var(--MARGIN);
}
.about-aside {
  width: 100%;
  justify-self: flex-end;
}
.about-footer__wrapper {
  /* border: 2px solid red; */
  grid-column-end: span 2;
  margin: var(--MARGIN);
}
@media (1440px >= width) {
  .about__wrapper {
    padding-inline: 128px;
  }
}
@media (1024px >= width) {
  .about__wrapper {
    padding-inline: 108px;
  }
}
@media (768px >= width) {
  .about__wrapper {
    padding-inline: 54px;
  }
  .about-header {
    padding-top: 10vh;
  }
  .about-container{
    font-size: 1.8rem;
  }
}
@media (425px >= width) {
  .about__wrapper {
    padding-inline: 26px;
  }
  .about-container{
    font-size: 1.4rem;
  }
}
@media (375px >= width) {
  .about__wrapper {
    padding-inline: 8px;
  }
  .about-container{
    font-size: 1.2rem;
  }
}
